<ul class="button-group round">
  <li onclick="save()"><a href="#" data-reveal-id="saveModal", class="button tiny">Save</a></li>
  <li class="button tiny play-button" onclick="playCode()">Play</li>
  <li class="button tiny stop-button" onclick="stopCode()">Stop</li>
</ul>
