<h3>My Sounds</h3>
<% if current_user.sounds %>
  <% current_user.sounds.each do |s| %>
    <% if s.public %>
      <div class="public sound">
        <%= link_to s.title, s %>
      </div>
    <% else %>
      <div class="private sound"
        <%= link_to s.title, s %>
      </div>
    <% end %>
  <% end %>
<% else %>
<% end %>
