<div class="row sound">
  <div class="large-6 columns">
    <% if sound.title %>
    <%= link_to "#{sound.title}", sound %>
  <% else %>
    <%= link_to "Sound #{sound.id}", sound %>
  <% end %>
  </div>
</div>
