<div class="row">
  <div class="large-8 large-offset-1 columns">
    <% if sound.title %>
      <%= link_to "#{sound.title}", sound, :class => "button tiny" %>
    <% else %>
      <%= link_to "Sound #{sound.id}", sound, :class => "button tiny" %>
    <% end %>
  </div>
</div>
