<div class="large-10 large-offset-1 columns">
  <h4>Welcome to SynthSandbox</h4>
  <p>Synth Sandbox is a creative environment for experimenting with audio synthesis.  The links below will take you to examples created by other users.  Everyone is encouraged to edit the code and save their own version.</p>
  <p>For more information about timbre.js, please visit this <%= link_to "link", "https://mohayonao.github.io/timbre.js/" %>.</p>
  <p>Note: If you are experiencing playback issues, try saving your code or refreshing the page.</p>
</div>

<hr>

<div>
  <%= render partial: '/sounds/sound', collection: @public_sounds %>
</div>
