<div class="text">
  <h4>Code</h4>
  <%= text_area(:sound, :code, cols:20, rows: 20, id: "codeText")%>
</div>

<div class="text">
  <h4>Description</h4>
  <%= text_area(:sound, :description, cols:20, rows: 20, id: "descriptionText")%>
</div>

<div class="buttons">
  <%= render 'buttons' %>
</div>

<div id="saveModal" class="reveal-modal" data-reveal>
  <%= render 'save' %>
</div>

<script>
  function playCode(){
    var code = $("#sound_code").val();
    eval(code);
  }
</script>
<script>
  function stopCode(){
    T.pause();
  }
</script>

