<div class="left-half">
  <div class="text">
    <h4>Code</h4>
    <textarea class="field">
      <%= @sound.code %>
    </textarea>
  </div>
</div>

<div class="right-half">
  <div class="text">
    <h4>Description</h4>
    <textarea class="field">
      <%= @sound.description %>
    </textarea>
  </div>
</div>
