// Place all the styles related to the sounds controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
$light-gray: #e1e8ed;
$dark-gray: #8899a6;
$black: #66757f;

.sound{
  float:left;
}
.private{
  .button{
    border-style: solid;
    border-width: 2px;
    border-color: red;
}
}
.text{
  width:44%;
  margin:3%;
  float:left;
}

.left-half{
  background-image: url('light_toast.png');
  float:left;
  width:50%;
}
.buttons{
  margin:2.5%;
  float:right;
}
.right-half{
  background-image: url('light_toast.png');
  float:left;
  width:50%;
}

.button {
  color: $black;
  background-color: $light-gray;

  &:hover {
    color: $light-gray;
    background-color: $black;
}
}
