// Place all the styles related to the sounds controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
$light-gray: #e1e8ed;
$dark-gray: #8899a6;
$black: #66757f;

.public{
  background-color:blue;
}
.private{
  background-color:red;
}
 .text{
   width:95%;
   margin:2.5%;
}

.left-half{
  background-image: url('light_toast.png');
  float:left;
  width:50%;
}
.buttons{
  margin:2.5%;
  float:right;
}
.right-half{
  background-image: url('light_toast.png');
  float:left;
  width:50%;
}

.button {
  color: $black;
  background-color: $light-gray;

  &:hover {
    color: $light-gray;
    background-color: $black;
}
}
